S3method(predict,glmnetGLR)
S3method(print,glmnetGLR)
S3method(print,lossMat)
S3method(sort,data.frame)
S3method(summary,glmnetGLRpred)
export(accuracy)
export(calcLoss)
export(confusion)
export(lossMatrix)
export(parseJob)
export(sensitivity)
export(specificity)
export(trainGLR)
